body {
    margin: 0;
    background-color: #222;
    touch-action: none; /* スワイプ操作用 */
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #aaddff; /* ゲーム中の背景色の簡易表示 */
}
